<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Pirates Wanted</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <br>
    <center><h1><b><font color="red">P i r a t e  &nbsp; &nbsp;  W a n t e d</font></b></h1></center>
    <br>
    <center><h3>We have been notified that you could help us find a fugitive:</h3></center>
    <br>
    <br>
    <center><form action="/madlibCard" method="post">
     <label for="Reader">Your name:</label>
     <input id="reader" name="reader" type="text">

     <label for="Suspect">Suspect's Name:</label>
     <input id="suspect" name="suspect" type="text">

     <label for="Item1">First Item Stolen:</label>
     <input id="item1" name="item1" type="text">

     <label for="Item2">Second Item Stolen:</label>
     <input id="item2" name="item2" type="text">

     <label for="Victim1">Victim's Name:</label>
     <input id="victim1" name="victim1" type="text">

     <label for="Day">Day:</label>
     <input id="day" name="day" type="text">

     <button type="submit"><b>Go!</b></button>
    </form></center>
  </body>
</html>
